.cc{
    background-image: url("https://img.freepik.com/free-vector/online-shopping-with-laptop-smartphone-technology_24877-56046.jpg?size=626&ext=jpg");
    height: 110vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}