.back1{
  background-image: url("https://www.allbusiness.com/asset/2018/07/online-shopping-concept.jpg");
  height: 250vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.center {
        
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
        
      }

.photobox {
  padding-top: 30px;
  justify-content: center;
    padding-bottom: 20px;
}
.row1{
  justify-content: center;
}
