.back1{
  background-image: url("https://img.freepik.com/free-vector/online-shopping-with-laptop-smartphone-technology_24877-56046.jpg?size=626&ext=jpg");
  height: 350vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.center {
        
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
        
      }

.photobox {
  padding-top: 30px;
  justify-content: center;
  align-items: center;
    padding-bottom: 20px;
}
.row1{
  padding-top: 30px;
  justify-content: center;
}

.row2{
  padding-top: 30px;
  justify-content: center;
}
.pad{
  padding-left: 400px;
}

.boxcolor{
  background-color: rgba(255, 255, 255, 0.89);
  text-align: center;
  height: 350px;
  width: 810px;

}
