.bg {
    background-image: url("https://www.freepik.com/blog/app/uploads/2020/01/2927262.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }